/* hero section */

.hero-title {
  color: black;
  font-size: 24px;
  font-family: Rubik;
  font-weight: 500;
  word-wrap: break-word;
}

.last-div {
  display: flex;
}

.form-div {
  width: 696px;
  position: relative;
}

.input-div {
  display: flex;
  justify-content: space-between;
}

.input {
  border-radius: 10px;
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  margin-bottom: 10px;
  width: 343px;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 400;
  word-wrap: break-word;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
}

.input3 {
  display: block;
  width: 696px;
}

.input4 {
  display: block;
  width: 696px;
}

textarea {
  resize: vertical;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 145px;
  border: #7297ef;
  background: #7297ef;
  border-radius: 10px;
  padding: 17px 0;
  color: white;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 500;
  word-wrap: break-word;
  position: absolute;
  right: 0;
}

.connect-div {
  width: 494px;
  margin-left: 10px;
}

.connect-list {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 40px 25px;
  margin-top: 0;
}

.connect-item {
  list-style-type: none;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
}

.connect-title {
  color: black;
  font-size: 20px;
  font-family: Rubik;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 7px;
  margin: 0;
}

.connect-text {
  margin-bottom: 20px;
}

.connect-link {
  color: black;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 7px;
}

/* /hero section */
